<div class="modal fade" id="email-agent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message for <%= agent.full_name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="contact-modal">
        <%= form_tag agent_email_path, id: "email-agent" do %>
           <%= hidden_field_tag :agent_id, agent.id%>
          <div class="mb-3">
            <label for="sender-name" class="col-form-label">Your Name:</label>
            <%= text_field :sender_name, nil, class:"form-control", id:"sender-name" %>
          </div>
          <div class="mb-3">
            <label for="sender-email" class="col-form-label">Your Email:</label>
            <%= email_field :sender_email, nil, class:"form-control", id:"sender-email", :required => true %>
          </div>
          <div class="mb-3">
            <label for="sender-message" class="col-form-label">Message:</label>

            <%= text_area :sender_message, nil, class:"form-control", id: "sender-message" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="send-email-to-agent">Send message</button>
      </div>
    </div>
  </div>
</div>