<%= form_with(model: property, local: true) do |form| %>
    <%= render "layouts/validation", item: @property %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :bedrooms %>
        <%= form.text_field :bedrooms, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :bathrooms %>
        <%= form.text_field :bathrooms, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :photo %>
        <%= form.file_field :photo, class: "form-control" %>
        <%= form.hidden_field :photo_cache %>
        <% if @property.photo.present? %>
            <%= image_tag @property.photo.thumb.url, class: "mt-1" %>
        <% end %>
    </div>
    <div class="form-group">
    <%= form.submit "Save", class: 'btn btn-success btn-lg' %>
    </div>      
<% end %>