<%= form_with(model: property, local: true) do |form| %>
    <%= render "layouts/validation", obj: @property %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="field">
        <%= form.label :price %>
        <%= form.text_field :price, class: "form-control" %>
    </div>
    <div class="field">
        <%= form.label :bedrooms %>
        <%= form.text_field :bedrooms, class: "form-control" %>
    </div>
    <div class="field">
        <%= form.label :bathrooms %>
        <%= form.text_field :bathrooms, class: "form-control" %>
    </div>
    <div class="actions">
    <%= form.submit "Save Property", class: 'btn btn-success btn-lg btn-block' %>
    </div>      
<% end %>