<% properties.each do |property| %>
   <div class="col">
         <div class="card shadow-sm">
           <%= link_to property_path(property) do %>
               <%= property_thumbnail(property) %>
           <% end %>
           <div class="card-body">
               <%= link_to property_path(property), class: "text-decoration-none text-dark text-capitalize" do %>
                   <h5><%= property.name %></h5>
               <% end %>
             <p class="card-text"><%= property.address %></p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <i class="fas fa-bed btn-sm btn-outline-secondary"> <%= property.bedrooms %></i>
                 <i class="fas fa-bath btn-sm btn-outline-secondary"> <%= property.bathrooms %></i>
               </div>
             </div>
           </div>
         </div>
       </div>
<% end %>