<% @properties.each do |property| %>
   <div class="col-4">  
      <div class="border">
      
         <%= link_to property_path(property) do %>
            <%= property_thumbnail(property) %>
         <% end %>

         <div class="property-description p-3">
         <h4 class="h6">
            <%= link_to property.name, property_path(property), class: "text-dark" %>
         </h4>
            <p><%= property.address %></p>
            <span class="p-3 mr-2">
               <i class="fa-thin fa-shower"></i>
               <%= property.bathrooms %>
            </span>
            <span class="p-3 mr-2">
               <i class="fa-thin fa-bed"></i>
               <%= property.bedrooms %>
            </span>
         </div>
      </div>
   </div>
<% end %>