<div class="property-photo-main" style="background-image:url('<%= property_photo_url @property %>')"> </div>
<div class="container mt-5"> 
    <div class="row">
        <div class="col">
        
        <strong>Name</strong>
        <%= @property.name %>
        <strong>Address</strong>
        <%= @property.address %>

        <strong>Price</strong>
        <%= @property.price %>
    
        <strong>Bedrooms</strong>
        <%= @property.bedrooms %>
    
        <strong>Bathrooms</strong>
        <%= @property.bathrooms%>
    
        </div>
    </div>
</div>
