<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-6">
            <p class="mb-0 fw-bold">
                <%= @account.full_name %></p>
            <p class="mb-2"><%= @account.company_name %></p>
        </div>
        <div class="col-6 text-center">
            <div class="row mr-3 bg-light p-3 rounded">
                <div class="col-3">
                    <span class="lead"><%= @properties_sold %> Sold</span>
                </div>
                <div class="col-3">
                    <span class="lead"><%= @properties_for_sale %> Sale</span>
                </div>
                <div class="col-3">
                    <span class="lead"><%= @properties_leased %> Leased</span>
                </div>
                <div class="col-3">
                    <span class="lead"><%= @properties_rent %> Rent </span>
                </div>
            </div>
        </div>
      </div>


      <div class="row border-top mt-4 pt-4">
        <div class="col">
          <p class="h4">Description</p>
            <div id="description-wrapper" class="">
                <%=  simple_format @account.description %>
            </div>
        </div>
      </div>     
      <div class="col-md-4">
        <%= render 'properties/agent_info', agent: @account %>
      </div>
    </div>
  </div>
</div>

<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="h4 mb-4">listings from <%= @account.full_name %></p>
      </div>
      <%= render "properties/listings", properties: @properties.limit(3) %>
    </div>
  </div>
</section>


<%= render "properties/email_agent", agent: @account %>

</div>