<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">  
      <% if current_account.admin? %>
          <%= render "layouts/navigation/admin" %>
        <% end %>
      <% if current_account.role == "seller" %>
          <%= render "layouts/navigation/seller" %>
       <% else %>
      <%= render "layouts/navigation/user" %>  
    <% end %>
    </ul>
    <ul class="nav flex-column mb-2 text-muted">
      <% if current_account.role == "seller" %>
        <li class="nav-item">
          <%= link_to "Profile", profile_path(current_account), class: "nav-link" do %>
            View Profile
            <% end %>
        </li>
      <% end %>
        <li class="nav-item">
          <%= link_to edit_account_registration_path, class: "nav-link" do %>  
            Account Settings
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to properties_path, class: "nav-link" do %>
            Properties
          <% end %>
        </li>
        <% if Conversation.count > 0 %>
          <li class="nav-item">
            <%= link_to conversations_path, class: "nav-link" do %>
              Conversations
              <% end %>
          </li>
        <% end %>
    </ul>
  </div>
</nav>


